{% extends 'admin_base.html.twig' %}

{% block title %}Profil de {{ customer.username }}{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="text-primary mb-5 mt-5" style="text-align: center">Profil de {{ customer.username }}</h1>

        <div class="row">
            <div class="col-8">
                <div class="jumbotron first">
                    {{ form_start(customerForm) }}
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(customerForm.lastname) }}
                                {{ form_row(customerForm.firstname) }}
                                {{ form_row(customerForm.phone) }}
                                {{ form_row(customerForm.mail) }}
                                {{ form_row(customerForm.society) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(customerForm.country) }}
                                {{ form_row(customerForm.address) }}
                                {{ form_row(customerForm.zip) }}
                                {{ form_row(customerForm.city) }}
                                {{ form_row(customerForm.status) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg col-4 offset-4 mt-4">Modifier</button>
                    {{ form_end(customerForm) }}
                </div>
            </div>
            <div class="col-4">
                <div class="jumbotron first">
                    {{ form_start(formPromo) }}
                    <h3 class="text-primary text-center mb-3">Demi-journée offerte :</h3>
                    {{ form_row(formPromo.counter, {'label':false, 'attr': {'class': 'col-4 offset-4'}}) }}
                    <button type="submit" class="btn btn-success btn-lg col-4 offset-4">Changer</button>
                    {{ form_end(formPromo) }}
                </div>
            </div>

        </div>

        <div class="row justify-content-around mb-5">
            <a href="{{ path('admin_list') }}" class="btn btn-primary btn-lg col-3 active" role="button" aria-pressed="true">Retour</a>

            {% if subscription.active == 0 %}
                <a href="{{ path('admin_activate', {'id': customer.id }) }}" class="btn btn-success btn-lg active col-3" role="button" aria-pressed="true">Activer ce compte</a>
            {% else %}
                <a href="{{ path('admin_activate', {'id': customer.id }) }}" class="btn btn-danger btn-lg active col-3" role="button" aria-pressed="true">Désactiver ce compte</a>
            {% endif %}

            {% if customer.role == 'ROLE_USER' %}
                <a href="{{ path('admin_switchrole', {'id': customer.id }) }}" class="btn btn-outline-warning btn-lg col-3 " role="button" aria-pressed="true">Basculer en Administrateur</a>
            {% else %}
                <a href="{{ path('admin_switchrole', {'id': customer.id }) }}" class="btn btn-danger btn-lg col-3 active" role="button" aria-pressed="true">Basculer en Utilisateur</a>
            {% endif %}
        </div>
    </div>



{% endblock %}



