{% extends 'admin_base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <div class="container" align="center">

        {% for messages in app.flashes('option') %}
            <div class="alert alert-dismissible alert-success">
                <button class="close" type="button" data-dismiss="alert">&times;</button>
                <strong>{{ messages }}</strong>
            </div>
        {% endfor %}

        <h1 class="text-primary">Modification des options</h1>

        <div class="jumbotron first" style="padding-bottom: 15px; padding-top: 40px">
            <div class="row">
                <div class="col-4">
                    {{ form_start(formplace) }}
                    <h3 class="text-primary">Nombre de places</h3>
                    <div class="text-primary col-6" style="font-size: 20px">
                        {{ form_row(formplace.content, {'label':false}) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-5">Changer</button>
                    {{ form_end(formplace) }}
                </div>
                <div class="col-4">
                    {{ form_start(formhalfday) }}
                    <h3 class="text-primary">Prix à la demie journée</h3>
                    <div class="text-primary col-6" style="font-size: 20px">
                        {{ form_row(formhalfday.content, {'label':false}) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-5">Changer</button>
                    {{ form_end(formhalfday) }}
                </div>
                <div class="col-4">
                    {{ form_start(formmonth) }}
                    <h3 class="text-primary">Prix au mois</h3>
                    <div class="text-primary col-6" style="font-size: 20px">
                        {{ form_row(formmonth.content, {'label':false}) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-5">Changer</button>
                    {{ form_end(formmonth) }}
                </div>
            </div>
        </div>
        <hr>
        <h1 class="text-primary">Modification des textes d'accueil</h1>

        <div class="jumbotron first" style="padding-bottom: 15px; padding-top: 40px">
            {{ form_start(form) }}
            <h4>Premier text</h4>
            <div class="text-primary" style="font-size: 20px">
                {{ form_row(form.firstText, {'label': false, 'id': 'text_home_content1'}) }}
            </div>
            <div class="text-primary">
                {{ form_row(form.firstPictureFile) }}
            </div>
            <div class="text-primary">
                {{ form_row(form.firstActive) }}
            </div>
            <h4 class="mt-5">Deuxième text</h4>
            <div class="text-primary" style="font-size: 20px">
                {{ form_row(form.secondText, {'label': false, 'id': 'text_home_content2'}) }}
            </div>
            <div class="text-primary">
                {{ form_row(form.secondPictureFile) }}
            </div>
            <div class="text-primary">
                {{ form_row(form.secondActive) }}
            </div>
            <h4 class="mt-5">Troisième text</h4>
            <div class="text-primary" style="font-size: 20px">
                {{ form_row(form.thirdText, {'label': false, 'id': 'text_home_content3'}) }}
            </div>
            <div class="text-primary">
                {{ form_row(form.thirdPictureFile) }}
            </div>
            <div class="text-primary">
                {{ form_row(form.thirdActive) }}
            </div>
            <div class="row justify-content-around">
                <div class="col-4">
                    <a href="{{ path('admin_home') }}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Retour</a>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder les textes</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <hr>
        <h1 class="text-primary">Modification des conditions d'utilisation</h1>
        <div class="jumbotron first" style="padding-bottom: 15px; padding-top: 40px">
            {{ form_start(formTermsOfUse) }}
            <div class="text-primary" style="font-size: 20px">
                {{ form_row(formTermsOfUse.content, {'label': false}) }}
            </div>
            <div class="row justify-content-around">
                <div class="col-4">
                    <a href="{{ path('admin_home') }}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Retour</a>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder les conditions d'utilisation</button>
                </div>
            </div>
            {{ form_end(formTermsOfUse) }}
        </div>

        <hr>
        <h1 class="text-primary">Modification du texte RGPD</h1>

        <div class="jumbotron first" style="padding-bottom: 15px; padding-top: 40px">

            {{ form_start(formRgpd) }}
            <div class="text-primary" style="font-size: 20px">
                {{ form_row(formRgpd.content, {'label': false}) }}
            </div>
            <div class="row justify-content-around">
                <div class="col-3">
                    <a href="{{ path('admin_home') }}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Retour</a>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder le texte</button>
                </div>
            </div>
            {{ form_end(formRgpd) }}
        </div>


    </div>
{% endblock %}