{% extends 'admin_base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <div class="container" align="center">

        {% for messages in app.flashes('option') %}
            <div class="alert alert-dismissible alert-success">
                <button class="close" type="button" data-dismiss="alert">&times;</button>
                <strong>{{ messages }}</strong>
            </div>
        {% endfor %}

        <h1 class="text-primary">Modification des options</h1>

        <div class="jumbotron first" style="padding-bottom: 15px; padding-top: 40px">
            <div class="row">
                <div class="col-4">
                    {{ form_start(formplace) }}
                    <h3 class="text-primary">Nombre de places</h3>
                    <div class="text-primary col-6" style="font-size: 20px">
                        {{ form_row(formplace.content, {'label':false}) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-5">Changer</button>
                    {{ form_end(formplace) }}
                </div>
                <div class="col-4">
                    {{ form_start(formhalfday) }}
                    <h3 class="text-primary">Prix à la demie journée</h3>
                    <div class="text-primary col-6" style="font-size: 20px">
                        {{ form_row(formhalfday.content, {'label':false}) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-5">Changer</button>
                    {{ form_end(formhalfday) }}
                </div>
                <div class="col-4">
                    {{ form_start(formmonth) }}
                    <h3 class="text-primary">Prix au mois</h3>
                    <div class="text-primary col-6" style="font-size: 20px">
                        {{ form_row(formmonth.content, {'label':false}) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-5">Changer</button>
                    {{ form_end(formmonth) }}
                </div>
            </div>
        </div>
        <hr>
        <h1 class="text-primary">Modification du texte d'accueil</h1>

        <div class="jumbotron first" style="padding-bottom: 15px; padding-top: 40px">

            {{ form_start(form) }}
            <div class="text-primary" style="font-size: 20px">
                {{ form_row(form.content, {'label': false}) }}
            </div>
            <div class="row justify-content-around">
                <div class="col-3">
                    <a href="{{ path('admin_home') }}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Retour</a>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder le texte</button>
                </div>
                <div class="col-3">
                    {% if text.active %}
                        <a href="{{ path('admin_textactive') }}" class="btn btn-outline-warning btn-lg btn-block" role="button" aria-pressed="true">Désactiver le texte</a>
                    {% else %}
                        <a href="{{ path('admin_textactive') }}" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Activer le texte</a>
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
        </div>




    </div>

{% endblock %}