{% extends 'base.html.twig' %}

{% block title %}Facturation{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}


{% block body %}

    {% if app.user %}
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-primary">Mes enregistrements</h1>
                <br>
            </div>
            <button onclick="window.location.href='{{ path('user_account') }}'" class="btn btn-primary mb-3">Retour</button>

            <div class="accordion col-12 col-md-8 offset-md-2 " id="collapseMonth">
            {% for key,days in all_checkins %}
                <div class="card" data-toggle="collapse">
                    <div class="card-header" id="heading{{ loop.index }}" data-toggle="collapse" data-target="#collapse{{ loop.index }}" style="cursor: pointer;">
                        <div class="mb-0 text-primary"  align="center">
                            {% if all_adjustments[key] is defined %}
                                {% set adjustments = all_adjustments[key] %}
                                {% if adjustments is not empty or adjustments is not null %}
                                    {% set counterAdd = adjustments.counteradd %}
                                    {% set counterRemove = adjustments.counterremove %}
                                {% else %}
                                    {% set counterAdd = 0 %}
                                    {% set counterRemove = 0 %}
                                {% endif %}
                            {% else %}
                                {% set counterAdd = 0 %}
                                {% set counterRemove = 0 %}
                            {% endif %}
                            <strong>
                                {{ key }} - 
                                {% if all_days[key] * halfDayPrice < monthPrice %}
                                    <td>
                                    {% if counterAdd - counterRemove >= - all_days[key] %}
                                        {{ ( all_days[key] + counterAdd - counterRemove ) * halfDayPrice }} €
                                    {% else %}
                                        0 €
                                    {% endif %}
                                    </td>
                                {% else %}
                                    <td>
                                        <span class="monthly-price">
                                            {{ monthPrice }} €
                                        </span>
                                        <span class="toggle-tarif-mensuel" data-toggle="tooltip" data-placement="top" 
                                              title="Tarif mensuel appliqué au lieu de {{ ( all_days[key] + counterAdd - counterRemove ) * halfDayPrice }} €">
                                        ?
                                        </span>
                                    </td>
                                {% endif %}
                            </strong>
                        </div>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#collapseMonth">
                        <div class="card-body" id="body{{ loop.index0 }}">
                            {% if adjustments is defined and (counterAdd - counterRemove) != 0 %}
                                <div class="alert alert-info" style="margin: 10px;">
                                    L'administrateur a ajusté votre présence pour ce mois à hauteur de <strong>{{ counterAdd - counterRemove }} demi-journées</strong>.
                                </div>
                            {% endif %}
                            <table class="display table-hover dataTable">
                                <thead>
                                <tr class="text-primary col-12" align="center">
                                    <th>Date</th>
                                    <th>Arrivée</th>
                                    <th>Départ</th>
                                    <th>Demi-journées</th>
                                </tr>
                                </thead>

                                <tbody>
                                
                                {% for key,day in days %}
                                    
                                    <tr align="center">

                                        <td style="text-align:right;"><span style="margin-right:15px;">{{ day['jour_arrivee_str'] }}</span> {{ day['jour_arrivee_num']  }}/{{ day['mois_arrivee_num']  }}/{{ day['annee_arrivee_num'] }}</td>
                                        <td>{{ day['heure_arrivee'] }}</td>
                                        <td>
                                        {% if day['heure_depart'] is not null %}
                                            {% if day['jour_arrivee_num'] == day['jour_depart_num'] and day['mois_arrivee_num'] == day['mois_depart_num'] and day['annee_arrivee_num'] == day['annee_depart_num']%}
                                                {{ day['heure_depart'] }}
                                            {% else %}
                                                <span class="modal-forgot-checkout" data-toggle="tooltip" data-placement="top" 
                                                      title="Déconnexion oubliée - {{ day['jour_depart_num']  }}/{{ day['mois_depart_num'] }}/{{ day['annee_arrivee_num'] }} à {{ day['heure_depart'] }}">
                                                    00:00:00
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                        <td style="text-align:right;">
                                        {% if day['demi_journees_free'] != 0 %}
                                            {{ day['demi_journees'] }} <span class="modal-free-halfdays" data-toggle="tooltip" data-placement="top" title="Demi-journée{% if day['demi_journees_free'] > 1 %}s offertes{% else %} offerte{% endif %}">- {{ day['demi_journees_free'] }}</span> = {{ day['demi_journees'] - day['demi_journees_free'] }}
                                        {% else %}
                                            {{ day['demi_journees'] }}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>  
            {% endfor %}
            </div>
            <hr>
            <button onclick="window.location.href='{{ path('user_account') }}'"
                    class="btn btn-primary mb-3">Retour</button>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        // open the current month
        $("#heading1").trigger("click");
    });
</script>
{% endblock %}
